@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: black;
  height: 100%;
}

main {
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: center;
  margin-inline: auto;
  position: relative;
  top: 7em;
}

h1 {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  position: relative;
  top: 4.1rem;
  text-align: center;
}
